body {
  background-image: linear-gradient(#3b1566, #5f4da8);
  height: 100vh;
  color: #d6d6ea;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
}

#below-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em 0;
  & > #track-info {
    text-align: center;
    width: 100%;
  }
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 1.5em;
  cursor: pointer;
}

.button-navigate {
  font-size: 2em;
}

.button-biggest {
  font-size: 3em;
}

#cover {
  width: 200px;
}

#playlist-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0 4em 0;
}

#song-name {
  font-size: 1.5em;
  font-weight: bolder;
}

.light-color {
  color: #d6d6ea;
}

#progress-bar {
  background-color: #d6d6ea;
  height: 3px;
  width: 100%;
  border-radius: 15px;
}

#current-progress {
  --progress: 0%;
  background-color: white;
  height: inherit;
  width: var(--progress);
  border-radius: inherit;
}

#progress-container {
  cursor: pointer;
}

#time-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
  margin-top: 0.5em;
}

.full-width {
  width: 100%;
}

@media (max-width: 600px) {
  .music-container {
    width: 300px;
  }
  #cover {
    max-width: 10rem;
  }
  #button-container {
    max-width: 300px;
  }
}
